NODE_ENV=dev
CORS=http://localhost,http://localhost:8080,http://medika-frontend.herokuapp.com

# ON DOCKER mongo image
# DB_HOST=mongo

# For local
DB_HOST=localhost

DB_PORT=27017
DB_FULL_URL=
# DB_FULL_URL=
# For connect to docker image from local
# DB_PORT=55560

DB_NAME=medika
DB_USERNAME=
DB_PASSWORD=
PORT=3000
JWT_KEY=


PATIENT_DOCUMENT_ROOT=documents_patient
PATIENT_DOCUMENT_FICHE_INFO=fiche_info
PATIENT_DOCUMENT_CONSENTEMENT=consentement
PATIENT_DOCUMENT_ORDONNANCE=ordonnance
PATIENT_DOCUMENT_QUESTIONNAIRE_FORM=questionnaire_form
PATIENT_DOCUMENT_DOCUMENT_REQUIRED=document_required

EXAMEN_DOCUMENT_ROOT=documents_examen
EXAMEN_DOCUMENT_FICHE_INFO=fiche_info
EXAMEN_DOCUMENT_CONSENTEMENT_TEMPLATE=consentement_template
EXAMEN_DOCUMENT_ORDONNANCE_TEMPLATE=ordonnance_template

TWILIO_ACCOUNT_SID=
TWILIO_AUTH_TOKEN=
SMS_SENDER=MEDIKA

# max upload file size in Mb unit
MAX_UPLOAD_FILE_SIZE=3 #3Mb